<mat-nav-list>
  <a mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item routerLink="/collection" (click)="onClose()">
    <mat-icon>view_list</mat-icon>
    <span class="nav-caption">Vehicles Collection</span>
  </a>

  <a mat-list-item routerLink="/login" (click)="onClose()">

    <mat-icon>
      power_settings_new
    </mat-icon>
    <span class="nav-caption">Logoff</span>
  </a>

</mat-nav-list>