<section class="signupForm" fxLayout fxLayoutAlign="center">

  <mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>

    <form fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">

      <mat-form-field>
        <input type="email" matInput placeholder="Your email" ngModel name="email" email required max-length="30" #emailInput="ngModel">
        <mat-error *ngIf="emailInput.hasError('required')">Email is required</mat-error>
        <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      </mat-form-field>


      <mat-form-field hintLabel="Should be at least 6 chars long">
        <input type="password" matInput placeholder="Your password" ngModel name="password" password required minlength="6" maxlength="20"
          #pwInput="ngModel">

        <mat-hint align="end">{{ pwInput.value?.length}}/6</mat-hint>
        <mat-error>Has to be at least 6 characters long.</mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

      </mat-form-field>


      <mat-checkbox labelPosition="before" ngModel name="agreed">Agree to Terms and Conditions.</mat-checkbox>



      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>

    </form>
    </mat-card-content>
  </mat-card>
</section>