mat-sidenav-container, mat-sidenav-contet, mat-sidenav {
    height: 100%;
}
mat-sidenav {

    width : 250px;
}
a {
    text-decoration: none ;
    color: white;

}
a:active, a:hover {
    color : lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;

}

